# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# production
#/build

#npm-debug.log*

#IntelliJ
.idea/

#Maven
.mvn/

#Compiled classes and folder
target/
.classpath
.project
.settings/
*.iml
*.class